{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="application/x-www-form-urlencoded"/>
<title>music-db</title>
<link rel="stylesheet" href={% static 'stylesheet_d.css' %}>

</head>

<body>
	<div class="forms">

	<h1> Music Database App </h1>
    <p>We'll get you what you need...</p>
    <h2> Registration </h2>
	<form method="POST" action="/registration/">

        {% csrf_token %}
        {{ registration_form | linebreaks }}
        {{registration_form.output}}

        <input type="submit" name="Registration" value="Finalize new user registration."/>
    </form>

    <h2> Retrieve Ratings </h2>
    <form method="POST" action="/ratings/">

        {% csrf_token %}
        {{ retrieval_form | linebreaks }}
        <input type="submit" name="Ratings" value="Enter username to see what songs they've rated."/>

	</form>

    {% for song in ratings %}
    <p> This user has given {{ song.song.song }} by {{ song.artist.name }} a rating of {{ song.rating  }} </p>
    {{registration_form.output}}
    {% endfor %}

    <h2> Retrieve Artist Attributes </h2>
    <form method="POST" action="/attributes/">

        {% csrf_token %}
        {{ retrieval_form | linebreaks }}
        <input type="submit" name="Attributes" value="Enter song title to learn about the artist."/>
	</form>

    {% for song in attributes %}
    <p> Artist: {{ song.name }} </p>
    <p> Album: {{ song.album }} </p>
    <p> Genre: {{ song.genre }} </p>
    <p> Year of Recording: {{ song.year}} </p>
    <p> Record Company: {{ song.record_company }} </p>
    {{registration_form.output}}
    {% endfor %}

    </div>

</body>
</html>