
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.forms{
	border: 10px solid lightslategray;
	background-color: white;
	padding: 40px;
	text-align: center;
	color: black;
	font-family: 'Roboto Mono', monospace;
	display: table;
	margin: auto;
}
h1 {
    font-size: 40px;
    flex-wrap: wrap;
    color: black;
}

h2 {
    font-size: 30px;
    flex-wrap: wrap;
    color: black;
}

input{
	background-color: lightslategray;
	border: 10px white;
	margin: auto;
	text-align: center;
  display: block;
  color: black;
}
body{
	background-color: lightslategray;
}
